[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqla-filters = "==0.0.1"

[dev-packages]
pylint = "*"
"pep8" = "*"
"autopep8" = "*"
ipython = "*"
mypy = "*"
pytest = "*"
rope = "*"

[requires]
python_version = "3.6"
